<div style="padding:20px">
<form 
(ngSubmit)="validateUSer(loginForm)"
class="form-horizontal" 
#loginForm = "ngForm">
	<div class="form-group input-group col-xs-4">
		<span class="input-group-addon"><i class="glyphicon glyphicon-user  col-sm-1 col-sm-offset-1"></i></span>
		<input type="text" name="userid" id="userid" #userid="ngModel" class="form-control" [(ngModel)]=userid placeholder="Network User ID" required>
		<!--<div *ngIf="userid.errors.required">
			Name is required.
		  </div>-->
	</div>
	<div class="form-group input-group col-xs-4">
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock  col-sm-1 col-sm-offset-1"></i></span>
		<input type="password" class="form-control" name="password" [(ngModel)]=user.password [minlength]="5" required>
	</div>
	<div class="form-group">
		<input type="submit"  class="btn btn-info" value="Login" [disabled]="!loginForm.valid">
	</div>
</form>
</div>